// font family
$fontsTitle: 'Pacifico', cursive;
$fontsContent: 'Roboto', sans-serif;

// font size
$fontSizeNormal: 15px;

// color brand
$colorMain: #222;

// color border
$colorBorderNormal: #bbb;
$colorBorderDark: #999;

// color text
$colorTextInactive: #999;
$colorTextNormal: #333;
$colorTextTitle: #222;
$colorTextPlaceholder: #999;

// color background
$colorBackgroundHover: #eee;
$colorBackgroundContent: #fff;

// border radius
$borderRadiusForm: 4px;

// box shadow
$shadowForm: 0 1px 2px rgba(150, 150, 150, .5);

// design preset
@mixin triangleArrow($color, $size) {
  display: block;
  width: 0;
  height: 0;
  margin-top: - $size / 3;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  border-color: $color transparent transparent;
  border-style: solid;
  border-width: $size;
}
