// font family
$fontsTitle: 'Pacifico', cursive;
$fontsContent: 'Roboto', sans-serif;

// size
$fontSizeNormal: 15px;
$inputHeight: 40px;
$inputPadding: 15px;

// color
$colorMain: #ff004c;
$colorError: #bf0000;

// color border
$colorBorderNormal: #bbb;
$colorBorderDark: #999;
$colorBorderError: $colorError;

// color text
$colorTextInactive: #999;
$colorTextNormal: #333;
$colorTextTitle: #222;
$colorTextPlaceholder: #999;

// color background
$colorBackgroundHover: #eee;
$colorBackgroundContent: #fff;

// border radius
$borderRadiusForm: 3px;

// box shadow
$shadowForm: 0 1px 2px rgba(150, 150, 150, .5);

//button
$buttonNormalBorderColor: #ddd;
$colorButtonNormalBackground: #fff;
$colorButtonNormalText: #555;

$buttonImportantBorderColor: $colorMain;
$colorButtonImportantBackground: $colorMain;
$colorButtonImportantText: #fff;

$buttonUnmportantBorderColor: $colorMain;
$colorButtonUnmportantBackground: #fff;
$colorButtonUnmportantText: $colorMain;

// design preset
@mixin triangleArrow($color, $size) {
  display: block;
  width: 0;
  height: 0;
  margin-top: - $size / 3;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  border-color: $color transparent transparent;
  border-style: solid;
  border-width: $size;
}

// ui focus
@mixin uiHover($shadowColor, $opacity){
  box-shadow: 0 1px 5px rgba($shadowColor, $opacity);
}
