<button type="button"
  #selectButtonElement
  [title]="placeholder + ' select box'"
  class="selected-text"
  [ngClass]="{
    'is-disabled': disabled,
    'is-readonly': readonly
  }"
  (click)="listToggle()"
  (blur)="onTouched()">
  <ng-container *ngIf="selectedValues.length > 0; else selectedPlaceHolder">
    <ng-container *ngFor="let item of selectedValues; let l = last;">
      {{item.name}}{{(!l) ? ', ': ''}}
    </ng-container>
  </ng-container>
  <ng-template #selectedPlaceHolder>
    <span class="selected-text__placeholder">{{placeholder}}</span>
  </ng-template>
</button>

<div
  #listElement
  class="select-list"
  [attr.tabindex]="list ? 0 : null"
  *ngIf="(isShowList && !disabled) || list"
  [class.is-readonly]="readonly"
  [ngStyle]="{'max-height.px': scrollHeight, 'max-width.px': scrollWidth}"
  (blur)="onTouched()">
  <ul class="select-list__wrap" *ngIf="selectList.length <= 0; else selectListContainer">
    <li class="selectitem" >
      <span class="selectitem__wrap selectitem__wrap--nodata">No Select Data</span>
    </li>
  </ul>
  <ng-template #selectListContainer>
    <ng-container [ngTemplateOutlet]="selectListTemplate" [ngTemplateOutletContext]="{$implicit: {list: selectList, disabled: false}}">
    </ng-container>
  </ng-template>
</div>

<ng-template #selectListTemplate let-data>
  <ul class="select-list__wrap">
    <li class="selectitem" *ngFor="let item of data.list">
      <span class="selectitem__wrap"
        (mouseenter)="focusItem = item"
        (mouseleave)="focusItem = undefined"
        *ngIf="!item.disabled && !data.disabled; else disabledSelectItem"
        (click)="changeSelect(item);"
        [class.is-selected]="selectedValues.indexOf(item) > -1"
        [class.is-focus]="focusItem === item">{{item.name}}</span>
      <ng-template #disabledSelectItem>
        <span class="selectitem__wrap is-disabled" (click)="focusButtonElement()">{{item.name}}</span>
      </ng-template>
      <ng-container *ngIf="item.list"
        [ngTemplateOutlet]="selectListTemplate"
        [ngTemplateOutletContext]="{$implicit: {list: item.list, disabled: data.disabled || item.disabled}}">
      </ng-container>
    </li>
  </ul>
</ng-template>
