@import './../styles/_preset';
.header-wrap {
  padding: 20px;
}
.header-title {
  margin: 0;
  padding: 0;
  font-size: 50px;
  color: $colorTextTitle;
  font-family: $fontsContent;
  font-weight: 100;
}

.content-wrap {
  padding: 20px;
}
.content-section {
  padding: 20px;
  font-weight: 300;
}
.section-title {
  margin: 0;
  font-weight: 300;
}

.example-wrap {
  .aui-selectbox {
    margin-top: 10px;
  }
  .aui-text {
    display: inline-block;
    margin-top: 10px;
  }
  .button {
    display: inline-block;
    margin-top: 10px;
  }
}

.result-text {
  padding-top: 10px;
}

.group {
  padding-top: 10px; 
}
