@import './../../../../../styles/_preset';

@mixin buttonStyle($borderColor, $backgroundColor, $textColor){
  display: inline-block;
  vertical-align: middle;
  height: $inputHeight;
  margin: 0;
  padding: 0 $inputPadding;
  border: 1px solid $borderColor;
  box-sizing: border-box;
  appearance: none;
  border-radius: $borderRadiusForm;
  line-height: $inputHeight;
  text-align: center;
  background: $backgroundColor;
  color: $textColor;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: $fontSizeNormal;
  cursor: pointer;
  transition: all .3s;
}

:host {
  @include buttonStyle($buttonNormalBorderColor, $colorButtonNormalBackground, $colorButtonNormalText);
  &:hover {
    @include uiHover(#000, .2);
  }
  &:disabled {
    @include uiHover(#000, 0);
    opacity: .5;
  }
  &.button-important {
    @include buttonStyle($buttonImportantBorderColor, $colorButtonImportantBackground, $colorButtonImportantText);
    &:hover {
      @include uiHover(#000, .4);
    }
    &:disabled {
      @include uiHover(#000, 0);
      opacity: .5;
    }
  }
  &.button-unimportant {
    @include buttonStyle($buttonUnmportantBorderColor, $colorButtonUnmportantBackground, $colorButtonUnmportantText);
    &:hover {
      @include uiHover(#000, .4);
    }
    &:disabled {
      @include uiHover(#000, 0);
      opacity: .5;
    }
  }
}
